<div class="book-card">
  <div class="container">
    <a
      (click)="viewDetails()"
      class="cover"
      [ngStyle]="{ 'background-image': 'url(' + book.bookCover + ')' }"
    >
      <div class="default" *ngIf="!book.bookCover">
        <p>No Cover</p>
      </div>
    </a>
    <div class="details">
      <ul>
        <li>{{ book.first_publish_year }}</li>
        <li class="title">
          <a (click)="viewDetails()">{{ book.title }}</a>
        </li>
        <li class="author">
          <a [routerLink]="['author', book.author_name[0]]">{{
            book.author_name
          }}</a>
        </li>
      </ul>
    </div>
  </div>
  <footer>
    <div *ngIf="!isWishlist" class="book-cta">
      <a (click)="viewDetails()">more</a>|<a>wishlist</a>
    </div>
    <button *ngIf="isWishlist" class="btn btn-orange">
      Remove from Wishlist
    </button>
  </footer>
</div>
