<header class="navbar">
  <div class="navbar-logo">
    <a routerLink="/">BookLibrary</a>
  </div>
  <nav class="navbar-menu">
    <ul>
      <li class="navbar-menu-item">
        <a routerLinkActive="active" routerLink="/">Home</a>
      </li>
      <li class="navbar-menu-item">
        <a routerLinkActive="active" routerLink="/search">Search</a>
      </li>
      <li class="navbar-menu-item">
        <a routerLinkActive="active" routerLink="/Wishlist">Wishlist</a>
      </li>
    </ul>
  </nav>
</header>
